---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from './BaseLayout.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<BaseLayout title={title} description={description}>
	<main class="prose md:prose-lg lg:prose-xl dark:prose-invert container m-0 mx-auto w-full max-w-full p-4">
		<article>
			<div class="w-full">
				{
					heroImage && (
						<img class="mx-auto block rounded-xl shadow-lg" width={1020} height={510} src={heroImage} alt="" />
					)
				}
			</div>
			<div class="mx-auto max-w-prose p-4 text-gray-800 dark:text-gray-200">
				<div class="mb-4 py-4 text-center">
					<div class="mb-2 text-gray-600 dark:text-slate-400">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="italic">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
					<hr class="mb-2" />
				</div>
				<!-- Blog post content -->
				<slot />
			</div>
		</article>
	</main>
</BaseLayout>
